<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 AddShoppers.com
 * FileDescription: File used to configure the admin panel section
 * @autor eduedeleon
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="addshoppers_connector::addshoppers_connector_marketing_link" title="On-site Marketing" module="Magento_Config" sortOrder="11" parent="Magento_Backend::marketing_user_content" action="adminhtml/system_config/edit/section/addshoppers_connector" resource="Magento_Config::config"/>
    </menu>
</config>
